<mat-toolbar class="top-nav">
    <div class="top-nav-items">
        <div class="banner">
            <div>
                <mat-icon class="white">help</mat-icon>
            </div>
            <div>
                <button mat-button class="white" [routerLink]="['/tickets-list', 'requests']" disableRipple="true"><h4>Ticket App</h4></button >
            </div>
        </div>
        <div>
            <div class="top-nav-items">
                <div *ngIf="loggedUser != ''">
                    <h5>Logged in as  {{loggedUser}}</h5>
                </div>
                <button mat-button (click)="logOut()">
                    <mat-icon class="white">logout</mat-icon>
                </button>
            </div> 
        </div>
    </div>
</mat-toolbar>