.top-nav-items{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 100%;
}
.banner{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	align-content: stretch;
	width: 20%;
	div{
		display: flex;
		align-items: center;
	}
	div:last-child{
		margin-left: 15px;
	}
}

.top-nav{
	
background: rgb(158,62,62);
background: linear-gradient(180deg, rgba(158,62,62,1) 0%, rgba(252,70,70,1) 100%);
}
.white{
	color:white
}