.ticketsTable{
    
    width: 100%;
    
}
.paginator{
    
    margin: 5px 5px 5px 5px;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 0 5px 0
}