.filter{
    margin:15px 0px 15px 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.filterFields{
    mat-form-field:first-child{
        font-size: 12px;
        width: 10%;
        margin-right: 15px;
        margin-left: 15px;
    }
    mat-form-field{
        font-size: 12px;
        width: 10%;
        margin-right: 15px;
    }
    mat-form-field:last-child{
        font-size: 12px;
        width: 10%;
        
    }
}