.filter {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    div.filter-fields{
        
        mat-form-field{
            margin: 0 5px 0 5px;
        }
    }
}
