<div class="filter">
    <form [formGroup]="filterValuesGroup" class="filterFields">
      <mat-form-field>
          <mat-label>Serial Number</mat-label>
          <input matInput formControlName="serialNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Submission Date Range</mat-label>
        <mat-date-range-input [rangePicker]="startDatePicker">
          <input matStartDate placeholder="Start date" formControlName="startDateBegin">
          <input matEndDate placeholder="End date" formControlName="startDateEnd">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #startDatePicker></mat-date-range-picker>
      </mat-form-field>
      
      <mat-form-field >
          <mat-label>Short Desc</mat-label>
          <input matInput formControlName="shortDesc">
      </mat-form-field>
      
      <mat-form-field >
        <mat-label>Requestor</mat-label>
        <input matInput formControlName="requestor">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select matNativeControl formControlName="priority">
          <mat-option value="">--</mat-option>
          <mat-option value="0">Low</mat-option>
          <mat-option value="1">Medium</mat-option>
          <mat-option value="2">High</mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select matNativeControl formControlName="state">
          <mat-option value="">--</mat-option>
          <mat-option value="0">Low</mat-option>
          <mat-option value="1">Medium</mat-option>
          <mat-option value="2">High</mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select matNativeControl formControlName="category">
          <mat-option value="">--</mat-option>
          <mat-option value="0">Low</mat-option>
          <mat-option value="1">Medium</mat-option>
          <mat-option value="2">High</mat-option>          
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Update Date Range</mat-label>
        <mat-date-range-input [rangePicker]="updateDatePicker">
          <input matStartDate placeholder="Start date" formControlName="updateDateBegin">
          <input matEndDate placeholder="End date" formControlName="updateDateEnd">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="updateDatePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #updateDatePicker></mat-date-range-picker>
      </mat-form-field>
      
      <mat-form-field >
        <mat-label>Updated By</mat-label>
        <input matInput formControlName="updatedBy">
      </mat-form-field>
    </form>
</div>
