<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened *ngIf="isLoggingIn" class="side-nav">
        <!-- ADD ROUTING -->
        <mat-list>
            <mat-list-item class="white">                 
                    User             
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'requests']">
                    My Requests
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'incidents']">
                    My Incidents
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'bug-reports']">
                    My Bug Reports
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div *ngIf="isExpert">
                <mat-list-item>                 
                    Expert             
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'all-tickets']">
                        All Tickets
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'assigned-tickets']">
                        My Assigned Tickets
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'unassigned-tickets']">
                        Unassigned Tickets
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button [routerLink]="['/ticket', 'new-ticket']">
                        Submit New Ticket
                    </button>
                </mat-list-item>
            </div>
            
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="page-content">
        <!-- Content projection. If we put any selector inside the app-sidenav selector it will be put in <ng-content> and not at the bottom of the template -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
