<!-- To jest WIDOK (View). Template to również poprawna nazwa -->
<!-- Wszystkie elementy zaczynające się na 'mat' są opisane na stronie https://material.angular.io/components/categories -->
<!-- ATRYBUT class wskazuje na styl zawarty wewnątrz pliku sidenav.component.scss -->
<mat-sidenav-container class="main-container">
    <!-- DYREKTYWA *ngIf decyduje kiedy dany fragment kodu powinien się renderować.
    W tym przypadku będzie to gdy zmienna isLoggingIn przyjmie wartość true. 
    Zapis *ngIf="isLoggingIn" oznacza to samo co *ngIf="isLoggingIn == true"  
    Jest to zmienna znajdująca się w pliku sidenav.component.ts-->
    <mat-sidenav mode="side" opened *ngIf="isLoggingIn" class="side-nav">
        <mat-list>
            <mat-list-item class="white">                 
                    User             
            </mat-list-item>
            <mat-list-item>
                <!-- Dyrektywa router link wywołuje przekierowanie użytkownika do innej lokalizacji na stronie.
                W tym przypadku nastąpi przekierowanie do lokalizacji /tickets-list z parametrem 'requests'
                Praktycznie - http://localhost:4200/tickets-list/requests -->
                <button mat-button [routerLink]="['/tickets-list', 'requests']">
                    My Requests
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'incidents']">
                    My Incidents
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'bug-reports']">
                    My Bug Reports
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div *ngIf="isExpert">
                <mat-list-item>                 
                    Expert             
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'all-tickets']">
                        All Tickets
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'assigned-tickets']">
                        My Assigned Tickets
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="['/tickets-list', 'unassigned-tickets']">
                        Unassigned Tickets
                    </button>
                </mat-list-item>
                
            </div>
            <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button [routerLink]="['/ticket', 'new-ticket']">
                        Submit New Ticket
                    </button>
                </mat-list-item>
            
        </mat-list>
    </mat-sidenav>
    <!-- Jest to w dokumentacji angular materials. Wewnątrz komponentu mat-sidenav-content powinno umieszczać się tą część strony gdzie będzie
    działał użytkownik. 
    Komponent <ng-content> wskazuje na to, gdzie wewnątrz tej strony powinien renderować się wstrzyknięty do niej inny komponent.
    Patrz app.component.html -->   
    <mat-sidenav-content class="page-content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
