<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened *ngIf="isLoggingIn">
        <!-- ADD ROUTING -->
        <mat-list>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'requests']">
                    My Requests
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'errors']">
                    My Errors
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button [routerLink]="['/tickets-list', 'bug-reports']">
                    My Bug Reports
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button [routerLink]="['/ticket', 'new-ticket']">
                    Submit New Ticket
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Content projection. If we put any selector inside the app-sidenav selector it will be put in <ng-content> and not at the bottom of the template -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
