.main-container{
    height: 100%;
    
}
.side-nav{
    background: rgb(88,88,88);
background: linear-gradient(180deg, rgba(88,88,88,1) 18%, rgba(163,163,163,1) 80%, rgba(223,223,223,1) 100%);
}
mat-list{
    mat-list-item{
        color: white;
    }

}
.page-content{
    background:rgb(241, 241, 241);
}