<form [formGroup]="ticketControlForm">
    <div class="rows">
        <mat-card>
            <mat-card-header>
                <mat-card-title *ngIf="currentRoute != 'new-ticket'">
                    Ticket Details
                </mat-card-title>
                <mat-card-title *ngIf="currentRoute == 'new-ticket'">
                    New Ticket Details
                </mat-card-title>
            </mat-card-header>
            <div>
                <div *ngIf="currentRoute != 'new-ticket'">
                    <mat-form-field>
                        <mat-label>Serial Number</mat-label>
                        <input matInput formControlName="serialNumber" readonly>
                    </mat-form-field>
                </div>
                <div *ngIf="currentRoute != 'new-ticket'">
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let st of states" [value]="st.id">{{st.stateName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-form-field>
                        <mat-label>Ticket Type</mat-label>
                        <mat-select formControlName="ticketType">
                            <mat-option *ngFor="let type of ticketTypes" [value]="type.id">{{type.type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-form-field>
                        <mat-label>Requestor</mat-label>
                        <input matInput formControlName="requestor" readonly>
                    </mat-form-field>
                </div>
                <div *ngIf="currentRoute != 'new-ticket'">
                    <mat-form-field>
                        <mat-label>Priority</mat-label>
                        <mat-select formControlName="priority" >
                            <mat-option *ngFor="let prt of priorities" [value]="prt.severity">{{prt.priorityName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="currentRoute != 'new-ticket'">
                    <mat-form-field>
                        <mat-label>Assigned To</mat-label>
                        <mat-select formControlName="assignee">
                            <mat-option *ngFor="let assigned of experts" [value]="assigned.userId">{{assigned.expertName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="description">
                <div>
                    <mat-form-field>
                        <mat-label>Short Description</mat-label>
                        <input matInput formControlName="shortDesc" [readonly]="currentRoute != 'new-ticket'">
                    </mat-form-field>
                </div>
            </div>
            <div class="description" *ngIf="currentRoute != 'new-ticket'">
                <div>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="longDesc"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <mat-card-actions align="end">             
                <button mat-button *ngIf="currentRoute != 'new-ticket' && canEdit == true" (click)="openDialog({type:'change ticket status to canceled'}, 'cancel')">Cancel</button>
                <button mat-button *ngIf="currentRoute != 'new-ticket' && canEdit == true" (click)="openDialog({type:'change ticket status to resolved'}, 'resolve')">Resolve</button>
                <button mat-button *ngIf="currentRoute != 'new-ticket' && canEdit == true" (click)="openDialog({type:'update the ticket'}, 'update')">Update</button>
                <button mat-button *ngIf="currentRoute == 'new-ticket'" (click)="saveNewTicket()">Save</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="rows" *ngIf="currentRoute != 'new-ticket'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Notes
                </mat-card-title>
            </mat-card-header>           
                <div class="description">
                    <div>
                        <mat-form-field>
                            <mat-label>Work Notes</mat-label>
                            <textarea matInput formControlName="notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            <mat-card-actions align="end">
                <button mat-button (click)="openDialog({type:'update the notes'}, 'saveNotes')">Save Notes</button>
            </mat-card-actions>
        </mat-card>
    </div>
</form>