<div class="rows">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Ticket details
            </mat-card-title>         
        </mat-card-header>
        <form>
            <div>
                <div>
                    <mat-form-field>
                        <label>Serial Number</label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>State</label>
                        <mat-select>
                            <mat-option *ngFor="let st of states">{{st.stateName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-form-field>
                        <label>Requestor</label>
                        <input matInput>
                    </mat-form-field>
                </div>
                 <div>
                    <mat-form-field>
                        <label>Priority</label>
                        <mat-select>
                            <mat-option *ngFor="let prt of priorities">{{prt.priorityName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>          
                <div>
                    <mat-form-field>
                        <label>Category</label>
                        <mat-select>
                            <mat-option *ngFor="let cat of categories">{{cat.categoryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Assigned To</label>
                        <mat-select>
                            <mat-option *ngFor="let assigned of experts">{{assigned.expertName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="description">          
                <div>
                    <mat-form-field>
                        <label>Short Description</label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="description">          
                <div>
                    <mat-form-field>
                        <label>Description</label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <mat-card-actions align="end">
            <button mat-button>Save</button>
            <button mat-button>Resolve</button>
        </mat-card-actions>
    </mat-card>
    
</div>
<div class="rows" *ngIf="currentRoute != 'new-ticket'">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Notes
            </mat-card-title>         
        </mat-card-header>
        <form>
            <div class="description">          
                <div>
                    <mat-form-field>
                        <label>Work Notes</label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <mat-card-actions align="end">
            <button mat-button>Save Notes</button>
        </mat-card-actions>
    </mat-card>
    
</div>