.rows{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    mat-card{
        width: 90%;
        
            div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: stretch;
                width: 100%;
                div{
                    mat-form-field{
                        width: 80%;
                    }
                }
                
            }
            div.description{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                div{
                    mat-form-field{
                        width: 60vw;
                        height: 10w;
                    }
                }
                
            }
        
    }
    
    
}