<!-- To jest komponent położony najwyżej w hierarchii. Wewnątrz niego umieszczamy selectory komponentów które chcemy wyświetlić na stronie -->


<app-topnav></app-topnav>
<!-- Selector router-outlet zostanie umieszczony wewnątrz widoku app-sidenav w miejsce komponentu <ng-content>. sidenav.component.html -->
<app-sidenav>    
    <!-- Selector router-outlet nie wskazuje konkretnie na komponent a tzw. router. Jest to moduł zajmujący się przekierowaniami
    i wyświetlaniem odpowiedniego w danym momencie komponentu. 
    Patrz: app-routing.module.ts-->
    <router-outlet>       
    </router-outlet>
</app-sidenav>


